<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="Welcome-menu">
    <h1>Welcome!</h1>
    <div class="pick-grid">

      <div class="dropdown">
        <div class="btn-area">
          <button class="button-82-pushable" role="button" routerLink="zoo-map">
            <span class="button-82-shadow"></span>
            <span class="button-82-front text">
              Zoo map
            </span>
          </button>
        </div>
        <div class="dropdown-content">
          U can mark ur pets on map there!
        </div>
      </div>


      <div class="dropdown">
        <div class="btn-area">
          <button class="button-82-pushable" role="button" routerLink="bank-unp">
            <span class="button-82-shadow"></span>
            <span class="button-82-front text">
              Banks' UNP
            </span>
          </button>
        </div>
        <div class="dropdown-content">
          Banks' UNP info
        </div>
      </div>

      <div class="dropdown">
        <div class="btn-area">
          <button class="button-82-pushable" role="button">
            <span class="button-82-shadow"></span>
            <span class="button-82-front text">
              Test
            </span>
          </button>
        </div>
        <div class="dropdown-content">
          Currently unavailable
        </div>
      </div>


      <div class="dropdown">
        <div class="btn-area">
          <button class="button-82-pushable" role="button">
            <span class="button-82-shadow"></span>
            <span class="button-82-front text">
              Test
            </span>
          </button>
        </div>
        <div class="dropdown-content">
          Currently unavailable
        </div>
      </div>
    </div>
</div>