<div class="Welcome-menu">
    <h1>Welcome!</h1>
    <h3>Here are my projects:</h3>
    <div class="pick-grid">
        <button class="button-82-pushable" role="button" routerLink="zoo-map">
          <span class="button-82-shadow"></span>
          <span class="button-82-edge"></span>
          <span class="button-82-front text">
            Zoo map
          </span>
        </button>
        <button class="button-82-pushable" role="button" (click)="test()">
          <span class="button-82-shadow"></span>
          <span class="button-82-edge"></span>
          <span class="button-82-front text">
            Test
          </span>
        </button>
    </div>
</div>