:host {
	display: flex;
	justify-content: center;
	height: 100%;
}

.background {
	position: absolute;
	z-index: 0;
	background-image: url("../../assets/bank-background.jpg");
	filter: blur(2px);
	background-repeat: no-repeat;
	display: flex;
	width: 100vw;
	height: 100vh;
}

.table {
	padding: 50px;
	overflow: auto;
}

table {
	border: solid 3px black;
	box-shadow: 0px 0px 15px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	color: #000;	
	z-index: 1;
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	
	flex-direction: column;
	font-size: 15px;
	padding: 10px;
}

.table td {
	text-align: center;
	padding: 10px;
}

.grid-container {
	margin: 50px;
	width: 50%;
	background: filter(5px);  
	font-weight: 600;
	font-size: 16px;
	border: solid;
	padding: 50px; 
	background: #fff;
}