<div class="background"></div>

<div class="table">
    <table>
        <thead>
            <tr>
                <td>№</td>
                <td>Дата постановки на учет</td>
                <td>Код инспекции МНС</td>
                <td>Состояние</td>
                <td>Наименование инспекции МНС</td>
                <td>Краткое наименование юридического лица, фамилия, имя, отчество (если таковое имеется) индивидуального предпринимателя</td>
                <td>Наименование и место нахождения юридического лица, фамилия, собственное имя, отчество (если таковое имеется) индивидуального предпринимателя</td>
                <td>УНП</td>
            </tr>
        </thead> 
        <tbody *ngIf="companies"> 
            <tr *ngFor="let company of companies; trackBy: trackByFn">
                <td>{{company.ROW.CKODSOST}}</td>
                <td>{{company.ROW.DREG}}</td>
                <td>{{company.ROW.NMNS}}</td>
                <td>{{company.ROW.VKODS}}</td>
				<td>{{company.ROW.VMNS}}</td>
				<td>{{company.ROW.VNAIMK}}</td>
				<td>
                        {{company.ROW.VNAIMP}}
                    <span *ngIf="company.ROW.VPADRES">
                        ,
                    </span>
                    {{company.ROW.VPADRES}}
                </td>
				<td>{{company.ROW.VUNP}}</td>
            </tr>
        </tbody>
    </table>
</div>